{{define "title"}}
  {{.Title}}
{{end}}

{{define "content"}}
  <div class="row">
    <div class="offset-by-one ten columns">
      <h1>{{.Title}}</h1>
      <p>
        <em>
          {{range .Tags}}
            <a href="/tags/{{. | slug}}.html" title="Posts Tagged {{.}}">{{.}}</a>&nbsp;
          {{end}}
        </em>
      </p>
      {{.Content | html}}
    </div>
  </div>
{{end}}
